@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
	box-sizing: border-box;
}

.nav li{
	display: inline;
	list-style-type: none;
	margin-right: 50px;
}

header{
	display: inline;
}

h1{
	color: black;
	font-size: 35px;
	text-decoration: underline;
}

h2 {
   color: white;
   text-decoration: underline;
}

h3 {
	color: white
	left: 43%;
	text-align: center;
}

nav{
		background-color: black;
		position:static;
		top: 0;
}

nav a{
	font-size: 30px;
	font-weight: 400;
	text-decoration: none;
	color: white;
}

nav a:hover{
	font-weight:bold;
	font-size: 30px;
	font-weight: 30px;
	text-decoration: none;
}

.jumbotron{
	font-size: 30px;
	background-color: white;
	text-align:center;
	color: black;
	padding: 60px;
	}

	#head{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		border-radius: 5px;
	        padding: 20px;
	}

marquee{
	color: white;
	font-weight:bold;
	font-size:20px;
}

body{
	background: #0E141B;
	color: #fcfcfc;
}

p{ 
	font-family: sans-serif;
	text-align: justify;
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	}

.featured-images{
	 width: 200px;
   max-height: 200px;
   object-fit: cover;
   object-position: right;
	 position: relative;
	 left: 43%;
}

footer {
   padding: 20px;
   color: black;
   background-color: white;
   text-align: center;
   font-weight: bold;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 	 border-radius: 5px;
	 padding: 20px;
 	 margin-top: 20px;
   margin-bottom: 20px
}

#foot {
    text-align: center;
}

#Petuah {
	width: 100%
}

#Kisah {
	width: 100%
}

#BukuAudio{
	width: 100%
}

#Makna{
	width: 100%
}

@media screen and (max-width: 1000px) {
   #content {
       width: 100%;
       padding: 0;
   }
}
